<%-include('partials/header.ejs') %>
<body>
    <%-include('partials/nav.ejs') %> 
    <div class="container">
        <h1>Guia Press</h1>
        <hr>
        <% categories.forEach(category => { %>
            <tr>
                <th><%= category.id %></th>
                <th><%= category.title %></th>
                <th><%= category.slug %></th>
                <th></th>
            </tr>                
        <% }) %>          
    </div>
</body>
<%-include('partials/bottom.ejs') %>